<h1> About us </h1>
<p>
    At Well.ca, we deliver wellness on your terms because we believe that you should never have to compromise on the health, wellness, baby and beauty products you choose for yourself and your loved ones. That’s why we offer a broad selection of carefully curated, peer-reviewed products, all available online and delivered right to your door. It’s because we know that choice matters.
</p>
<div id="slide-show">
     <img src= {{current}} >
</div>
<p>
With over 40,000 products and Canada’s largest assortment of green & natural brands (plus all of your familiar favourites), we make it easy to make choices you can trust. We deliver a quick, convenient, and hassle-free shopping experience, because we listen and we know what matters to you.
</p>
<p>
We’re a fast-growing, proudly Canadian company that’s passionate about our customers, our business, and the products we sell. There’s a real person behind every item we offer, every package we ship, and every interaction we have with you, because we love sharing our passion for health and wellness with you.
</p>
<p>
Whether you’re looking for a familiar brand, or want to try something new or more green and natural, you can be confident that you’ll have a great experience with Well.ca making choices that you can trust for yourself and your family.
</p>
<p>
    <br>
    <br>
    <br>
</p>