<h1 class="alert alert-success"> Orders Received </h1>

<table class="table table-hover">
     <thead>
         <tr>
            <th>OrderId</th>
            <th>OrderDate</th>
            <th>Username</th>
            <th>Cart Items</th>
         </tr>
        </thead>
         <tbody>
             <tr *ngFor="let x of orders">
                 <td>{{x.orderid}}</td>
                 <td>{{x.date}}</td>
                 <td>{{x.username}}</td>
                 <td [style.color]="'green'">Click to view cart here</td>
             </tr>
         </tbody>
     
</table>