
<div id="contact">
   <h1>Write Us </h1>
   <div class="field">
      <mat-form-field appearance="fill" [style.width]="'700px'">
         <mat-label>Subject</mat-label>
         <input matInput [(ngModel)]="subject">
       </mat-form-field>
       <br>
       <mat-form-field appearance="fill" [style.width]="'700px'">
         <mat-label>Your Message to us</mat-label>
         <textarea matInput
         rows="10" [(ngModel)]="message"
        ></textarea>
       </mat-form-field>
       <br>
       <button (click)="send()" class="btn btn-success" [style.margin-left]="'500px'">Send Message</button>
   </div>
<h1>Contact  US</h1>

<h3>Fresho Organics </h3>
<pre>
Whether you need help with your order, 
or you have a general question or comment about Fresho Organics, 
our Customer Care team is always here to help!*
</pre>

<p>
Phone Hours:
Monday-Friday from 9am-8pm EST<br>
Saturday from 9am-4pm EST <br>
Sunday from 10am-5pm EST<br>
Phone: 1-866-640-3800 <br><br>
Email: info@freshoorganics.ca 
</p>

<div>
   <h3>Our Address</h3>
   <pre>
    365 Bloor Street East Suite 1001,
     Toronto, ON, 
     M4W 3L4
   </pre>
  
</div>

<div id="contact">
   <h1>Contact Us </h1>
   <div class="field">
      <mat-form-field appearance="fill" [style.width]="'700px'">
         <mat-label>Subject</mat-label>
         <input matInput>
       </mat-form-field>
       <br>
       <mat-form-field appearance="fill" [style.width]="'700px'" [style.height]="'400px'">
         <mat-label>Your Message to us</mat-label>
         <textarea matInput
         rows="10"
        ></textarea>
       </mat-form-field>
   </div>

   <br><br><br><br><br>
</div>